<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/7a3ec529632909.55fc107b84b8c.png" alt="ILLUME" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/diagnostics" routerLinkActive="active">DIAGNOSTICS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/design-ilt-vilt" routerLinkActive="active">DESIGN ILT/VILT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/delivery" routerLinkActive="active">DELIVERY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/assessor" routerLinkActive="active">ASSESOR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-certificates" routerLinkActive="active">MY CERTIFICATES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/policy" routerLinkActive="active">POLICY</a>
        </li>
        <li class="nav-item ms-auto">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
  